.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  width: 100%;
}

@media screen and (max-width: 1120px) {
  .lead {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    width: 100%;
  }
}
