.footer__link {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  transition: 0.2s ease-in-out;
}

.footer__link:hover {
  opacity: .6;
}

@media screen and (max-width: 700px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
