.cover {
  max-width: 1184px;
  background: linear-gradient(to top, rgba(42, 44, 47, .3), rgba(42, 44, 47, .3)), rgb(42, 44, 47) center / cover no-repeat url(../../images/cover-trains.jpg);
}

.cover:hover {
  background: linear-gradient(to top, rgba(42, 44, 47, .8), rgba(42, 44, 47, .8)), rgb(42, 44, 47) center / cover no-repeat url(../../images/cover-trains.jpg);
}
